#intro {
    margin: 0 auto;
    width: 90%;
}
.row p,
li {
    font-size: 20px;
}
.row span {
    font-size: 20px;
}
.ticket {
    height: 50px;
    background-color: #fff2ee;
    border: 1px solid #000;
}
.section {
    background: #a0d0e3;
}
.arrow {
    font-size: 30px;
    margin-top: 5px;
}
div[class*='btn-'] {
    color: #222;
    text-shadow: none;
    cursor: pointer;
}
a,
a:hover {
    text-decoration: none !important;
    color: inherit;
}